
nav.navStyle {
    background-color: var(--background-color);

}
ul.ulStyleInNav{
    background-color: var(--background-color);
    color: var(--text-color);
    list-style-type: none;
    display: flex;


}
@media (max-width: 768px) {
    ul.ulStyleInNav{
        background-color: var(--background-color);
        color: var(--text-color);
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }
}

@keyframes fly-in-from-left {
    0%
    {
        transform: translateX(-100%);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fly-out-from-left {
    0%
    {
        transform: translateX(0);
        opacity: 1;
    }
    100%
    {
        transform: translateX(-100%);
        opacity: 0;
    }
}
li.liStyleInNavMobile {
    translateX: -100%;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5em 2em 0 0;
    font-size: large;
    animation: fly-in-from-left 1s ease-in-out;
}
li.liStyleInNav {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5em 2em 0 0;
    font-size: large;
}
li.liStyleInNavFlyOut
{
    translateX: 0%;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5em 2em 0 0;
    font-size: large;
    animation: fly-out-from-left 1s ease-in-out;
}
a.aStyleInNav{
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--background-color);
    transition: color 1s ease;
}
a.aStyleInNav:hover{
    color: var(--hover-color-in-nav);
    background-color: var(--background-color);
    transition: color 1s ease;


}

img.imgStyleForNavbar{
    cursor: pointer;
    width: 20px;
    padding: 0;
}
button.buttonStyleForNavbar {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;

}