p.descriptionText {
    font-size: medium;
    color: var(--text-color);
    font-family: var(--font), sans-serif;
}
p.priceText {
    font-weight: bold;

}
div.card {
    border: 3px solid var(--border-product-color);
    border-radius: var(--border-radius-products);
    display: inline-block;
    margin: 2%;
    padding: 1%;
    text-align: center;
}

button.buttonCard {
    text-align: center;
    background-color: var(--hover-color-in-nav);
    color: white;
    cursor: pointer;
    padding: 4%;
    border: none;
    border-radius: var(--border-radius-products);
    font-size: medium;
    font-family: var(--font), sans-serif;
    transition: font-size 1s ease;
}
button.buttonCard:hover {
    font-size: large;
    transition: font-size 1s ease;
}