p.descriptionText {
    font-size: medium;
    color: white;
    font-family: var(--font), sans-serif;
}
p.priceText {
    font-weight: bold;

}
div.card {
    border: 3px solid var(--border-product-color);
    border-radius: var(--border-radius-products);
    display: inline-block;
    margin: 2%;
    padding: 1%;
}