div.outerDiv
{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid var(--border-product-color);

}

div.informationDiv
{
    margin: 4rem;
    color: white;
    font-size: large;
    font-family: "Arial", sans-serif;
    align-self: center;
}
div.imageDiv
{
    margin: 4rem;
    align-self: center;
}