:root {
    --background-color: black;
    --text-color: white;
    --hover-color-in-nav: #00BFFF;
    --font: "Arial", sans-serif;
    --border-product-color: white;
    --border-radius-products: 10px;
}
html, body
{
    background-color: var(--background-color);
}