:root {
    --background-color: black;
    --text-color: white;
    --hover-color-in-nav: orange;
    --font: "Arial", sans-serif;
    --border-product-color: white;
    --border-radius-products: 10px;
}
html, body
{
    background-color: var(--background-color);
    overflow-x: hidden !important;
}
@media (max-width: 768px) {
    html, body
    {
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
}